{% if page.title == "Desenvolvedor web"
   or page.title == "Blog"
   or page.title == "Projetos"
   or page.title == "Sobre"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home{% if site.animation %} animated{% endif %}">
        <a class="link" href="{{ site.url }}/">
            <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image == true %}{{ site.url }}/{{ site.logo }}{% else %}{% if page.title != 'Sobre' %}{{ site.url }}/{{ site.logo }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}{% endif %}" />
        </a>
        <h1 class="description">{{ site.bio }}</h1>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
