<nav class="nav-home">
    <ul class="list">
        {% if page.title != "Desenvolvedor web" %}
            <li class="item">
                <a class="link" %}active{% endif %}" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}
        <li class="item">
            <a class="link {% if page.title == "Blog" %}active{% endif %}" href="{{ site.url }}/blog">Blog</a>
        </li>
        <li class="item">
            <a class="link {% if page.title == "Projetos" %}active{% endif %}" href="{{ site.url }}/projects">Projetos</a>
        </li>
        <li class="item">
            <a class="link {% if page.title == "Sobre" %}active{% endif %}" href="{{ site.url }}/about">Sobre</a>
        </li>
    </ul>
</nav>
